<head>
    <link href="/styles.css" rel="stylesheet" type="text/css">
</head>
<body>
    <div>
        <h1>Thank you {{ name }}!</h1>
    </div>
    <div>
        <a id="welcome-back" href="/top-fossils">Back to all those sick fossils</a>
    </div>
</body>