body {
  background-color: #ffe5b2;
}

h1 {
  color: red;
  font-family: sans-serif;
}

img {
  height: 200px;
  width: 200px;
}

img.centered {
  display: block;
  margin: 0 auto;
}

.flex {
  display: flex;
  align-items: normal;
}

.fossil-div {
  border: 2px solid black;
  text-align: center;
  display: inline-block;
  padding: 10px;
  width: 205px;
  margin: 0 5px;
  display: block;
}

.fossil-div img {
  border: 5px solid green;
  border-radius: 10px;
  background-color: black;
}

.fossil-select {
  margin-top: 20px;
}

.submit-fossil {
  margin-top: 10px;
}
